{% extends 'base.html.twig' %}

{% block title %}Livraison! | {{ parent() }}{% endblock %}

{% block body %}
<section class="livraison bg-light p-3">
    <h2>Livraison</h2>
</section>
    <form action="{{ path('panier_validation') }}" method="post" class="f-livraison">
        <div class="form-livraison">
        <div class="adresse-livraison">
        <h4>Adresse de livraison</h4>

            {% if adresse | length > 0 %}
                <div class="input_choix">
                <label class="radio">
                <input type="radio" class="input-livraison" name="livraison" id="livraison" checked data-livraison="{{ adresse.id }}" value="{{ adresse.id }}">
                    <p id="livraisonP" class="p-facturation">{{ adresse.prenom }} {{ adresse.nom | upper}} <br>
                                                            {{ adresse.numero}} {{ adresse.rue }} <br>
                                                            {{ adresse.ville }} {{ adresse.cp }}</p>
                </label>
               {# <p> {{ adresse.numero}} {{ adresse.rue }}</p>
                <p> {{ adresse.ville }} {{ adresse.cp }}</p>#}
                <a id="myBtn" class="choix">Choisir une auter adresse</a>
                </div>
            {% else %}
                <p>Aucune adresse de renseignée</p>
            {% endif %}
        </div>
        <div class="adresse-facturation">
        <h4>Adresse de facturation</h4>
            {% if adresse | length > 0 %}
            <div class="input_choix">
                <label class="radio">
                <input type="radio" class="input-facturation" name="facturation" id="facturation" checked data-facturation="{{ adresse.id }}" value="{{ adresse.id }}">
                    <p id="facturationP" class="p-facturation">{{ adresse.prenom }} {{ adresse.nom | upper}} <br>
                                                                {{ adresse.numero}} {{ adresse.rue }} <br>
                                                                {{ adresse.ville }} {{ adresse.cp }}</p>
                </label>
                {#<p> {{ adresse.numero}} {{ adresse.rue }}</p>
                <p> {{ adresse.ville }} {{ adresse.cp }}</p>#}
                <a id="myBtn1" class="choix">Choisir une autre adresse</a>
            </div>
            {% else %}
                <p>Aucune adresse de renseignée</p>
            {% endif %}
        </div>
        </div>
        {% if adresse | length > 0 %}
        <div class="valider-livraison">
{#            <a href="#" id="valider" title="valider et passer commande" class=" btn btn-outline-success btn-lg">Valider</a>#}
            <button class="">Valider mes adresses</button>
        </div>
        {% endif %}
    </form>
    <p class="ou">OU</p>
<div class="valider-livraison">

    <a href="{{ path('adresse_add') }}" >Ajouter une adresse</a>
</div>

    <!-- The Modal -->
    <div id="myModal" class="overlay">

        <!-- Modal content -->
        <div id="popup" class="popup">
            <span id="close" class="close">&times;</span>
            <h4>Ma dernière adresse utilisée</h4>
            <div>
                <div class="modal-derniere-adresse">
                    {% if derniereAdresse | length > 0 %}
                    <p> {{ derniereAdresse.prenom }} {{ derniereAdresse.nom }}, {{ derniereAdresse.numero}} {{ derniereAdresse.rue }} - {{ derniereAdresse.ville }} {{ derniereAdresse.cp }}</p>
                    {% endif %}
                    </div>

                    <h4>Mes autres adresses</h4>
                    <div class="modal-toute-adresse">
                    {% if adresses | length > 0 %}
                    {% for adresse in adresses %}
                        <ul>
                            <li>{{ adresse.prenom }} {{ adresse.nom }}, {{ adresse.numero}} {{ adresse.rue }} - {{ adresse.ville }} {{ adresse.cp }}
                            <button class="myBtnChoix" data-adresseId="{{ adresse.id }}">Choisir</button></li>
                        </ul>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        /**@TODO: Revoir modal changement adresse*/

        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        var btn1 = document.getElementById("myBtn1");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";

            //Choix de l'utilisateur
            $(".myBtnChoix").on("click", function() {
                var idAdresse = $(this).attr("data-adresseId")
                console.log(idAdresse)

                var datas = {idAdresse: idAdresse};
                $.ajax({
                    url: '{{  path('adresse_id') }}',
                    crossDomain: false,
                    processData: false,
                    contentType: false,
                    data: JSON.stringify(datas),
                    dataType: 'json',
                    cache: false,
                    type: 'POST',
                    async: false
                }).done(function (response) {
                    console.log(response);
                    $id = response["id"]
                    console.log($id)
                    $('#livraison').replaceWith("<input type=\"radio\" name=\"livraison\" id=\"livraison\" checked data-livraison=" + response["id"] + "\" value="+ response["id"] +"\">")
                     $('#livraisonP').replaceWith("<p>" + response["prenom"]+ " " + response["nom"] + " <br>" +
                         response["numero"] + " " + response["rue"] + " <br>" +
                         response["ville"] + response["cp"] + "</p>")



                    modal.style.display = "none";

                }).fail(function (resultat, statut, erreur) {
                    console.log("fail")
                    console.log(statut)
                    console.log(erreur)
                })
            });
        }
        btn1.onclick = function(e) {
            modal.style.display = "block";
            //Choix de l'utilisateur
            $(".myBtnChoix").on("click", function() {
                e.preventDefault()
                var idAdresse = $(this).attr("data-adresseId")
                console.log(idAdresse)

                var datas = {idAdresse: idAdresse};
                $.ajax({
                    url: '{{  path('adresse_id') }}',
                    crossDomain: false,
                    processData: false,
                    contentType: false,
                    data: JSON.stringify(datas),
                    dataType: 'json',
                    cache: false,
                    type: 'POST',
                    async: false
                }).done(function (response) {
                    console.log(response);
                    $id = response["id"]
                    console.log($id)
                    $('#facturation').replaceWith("<input type=\"radio\" name=\"facturation\" id=\"facturation\" checked data-facturation=" + response["id"] + "\" value="+ response["id"] +"\">" +response["prenom"] +
                        response["nom"] + response["numero"] + response["rue"] + response["ville"] + response["cp"] );
                    $('#facturationP').remove()
                    modal.style.display = "none";

                }).fail(function (resultat, statut, erreur) {
                    console.log("fail")
                    console.log(statut)
                    console.log(erreur)
                })
            });
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

           /* //Choix de l'utilisateur
            $(".myBtnChoix").on("click", function() {
                var idAdresse = $(this).attr("data-adresseId")
                console.log(idAdresse)

                var datas = {idAdresse: idAdresse};
                $.ajax({
                    url: '{{  path('adresse_id') }}',
                    crossDomain: false,
                    processData: false,
                    contentType: false,
                    data: JSON.stringify(datas),
                    dataType: 'json',
                    cache: false,
                    type: 'POST',
                    async: false
                }).done(function (response) {
                    console.log(response);
                    $id = response["id"]
                    console.log($id)
                    $('#facturation').replaceWith(response["nom"], response["prenom"], response["numero"], response["rue"],
                    response["cp"], response["ville"] )
                    modal.style.display = "none";

                }).fail(function (resultat, statut, erreur) {
                    console.log("fail")
                    console.log(statut)
                    console.log(erreur)
                })
            });*/
        /*$("#valider").on("click", function() {
            var idAdresseLivraison = $(this).attr("data-livraison")
            var idAdresseFacturation = $(this).attr("data-facturation")
            console.log("id adresse Livraison = " + idAdresseLivraison)
            console.log("id adresse facturation = " + idAdresseFacturation)

            var datas = {idAdresseLivraison: idAdresseLivraison, idAdresseFacturation: idAdresseFacturation};
            console.log("tableau datas = " + datas)

            $.ajax({
                url: '',
                crossDomain: false,
                processData: false,
                contentType: false,
                data: JSON.stringify(datas),
                dataType: 'json',
                cache: false,
                type: 'POST',
                async: false
            }).done(function (response) {
                console.log(response);

            }).fail(function (resultat, statut, erreur) {
                console.log("fail")
                console.log(statut)
                console.log(erreur)
            })

        })*/

        </script>
{% endblock %}

