{% extends 'base.html.twig' %}

{% block title %}Inscription | {{ parent() }}{% endblock %}

{% block body %}
<div class="register-form">
    <div class="register-titre">
        <h2>Inscription</h2>
    </div>

    <div class="register-form-inputs">
    {{ form_start(registrationForm) }}
    <div class="inputs">
        {{ form_label(registrationForm.nom) }}
        {{ form_widget(registrationForm.nom) }}
        {{ form_label(registrationForm.prenom) }}
        {{ form_widget(registrationForm.prenom) }}
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword) }}



        <button type="submit" class="btn btn-lg btn-primary">Inscription</button>
    </div>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
