{% extends 'base.html.twig' %}

{% block title %}Mon profil! | {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="mon-profil">Mon profil</h2>
    <section class="profil">

        <article class="profil-connexion">
            <p><strong>Nom et prénom :</strong> {{app.user.nom | upper}} {{app.user.prenom}}</p>
            <p><strong>Email:</strong> {{app.user.email}}</p>
            <p><strong>Mot de passe:</strong> ***********</p>
            <div class="modif-sup_profil">
            <a href="{{ path('profile_edit', {'id': app.user.id}) }}" class="btn-modifier" title="modifier profil">Mofidier</a><br>
           <a href="{{ path('profile_delete', {'id': app.user.id}) }}" title="supprimer mon compte"><i class="bi bi-exclamation-octagon"></i> Supprimer mon compte</a>
            </div>
        </article>
        <article class="profil-adresse">
            <p><strong>Mon adresse principal</strong></p>

            {% if adresse %}
                <p>{{adresse.numero}} {{adresse.rue}}<br>
                {{adresse.cp}} {{adresse.ville}}<br>
                Numéro de téléphone<br>
                {{adresse.telephone}}</p>
            <div class="modif-sup_profil">
                <a href="{{ path('adresse_update', {'id': adresse.id}) }}" class="btn-modifier" title="modifier adresse principale">Mofidier mon adresse principale</a><br>
            </div>
            {%  else %}
                <p>Vous n'avez pas encore d'adresse enregistrée</p>
            {% endif %}
        </article>
    </section>
{% endblock %}