<nav>
    <ul>
        <li><a href="{{ path('home') }}" title="Accueil">Home</a></li>
        <li><a href="{{ path('article', {'id': plante.id}) }}" title="Liste des plantes">Plantes</a></li>
        <li><a href="{{ path('article', {'id': decoration.id}) }}" title="Liste des decorations">Décorations</a></li>
        <li><a href="{{ path('article', {'id': outil.id}) }}" title="Liste des outils">Outillage</a></li>
        <li><a href="{{ path('panier') }}" title="panier">Panier</a></li>
    </ul>
</nav>